@import "reset";
@import "vuerifyReset";
@import "_seat";
@import "_index";
@import "_form";
@import "_detail";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap");
.v-main,
.fix,
.v-app-bar.v-app-bar--fixed,
.v-main {
  max-width: 550px;
  margin: 0 auto;
}
body,
.v-application {
  font-family: "Noto Sans TC", sans-serif !important;
}
